[200~C:/Users/denne/Documents/GitHub/ObraDinnTutorial/Assets/Prefab/japanese-vending-machine/source/Vending_machine_Japan_ filter=lfs diff=lfs merge=lfs -text
Assets/Prefab/japanese-vending-machine/source/Vending_machine_Japan_fbx/Japanese_Vending_Machine1.fbx filter=lfs diff=lfs merge=lfs -text
